<template>
  <div class="home">
    <!-- Search el -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card fluid">
          <input
            type="text"
            placeholder="Nome do Episodio"
            style="border: none; padding: 0;"
            v-model="filter.name"
            @keydown="
              () => {
                page = 1
              }
            "
          />
        </div>
      </div>
    </div>
    <!-- Chatacter row -->
    <div
      class="row"
      v-if="!this.$apollo.queries.episodes.loading && episodes"
    >
      <div
        class="col-sm-12 col-md-4 col-lg-4"
        v-for="episodie in episodes.results"
        :key="episodie.id"
      >



      <a>
        <div class="card fluid">
          <div class="section">Nome do Episodio <strong>{{ episodie.name }}</strong></div>
          <div class="section">
             <span> Número <strong>{{ episodie.episode }}</strong></span>
          </div>
           <div class="section">
             <span>Foi para o ar: <strong>{{ episodie.air_date }}</strong></span>
          </div>
        </div>
      </a>



      </div>
    </div>
    <!-- Loading row -->
    <div class="row" v-else-if="this.$apollo.queries.episodes.loading">
      <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <div class="card fluid" style="text-align: center;">
          <h3>Loading...</h3>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div
      class="row"
      style="text-align: center;"
      v-if="episodes && episodes.info"
    >
      <div class="col-sm-12">
        <div class="paginate">
          <SlidingPagination
            :current="page"
            :total="episodes.info.pages"
            @page-change="
              newPage => {
                page = newPage
              }
            "
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { gql } from 'apollo-boost'

import SlidingPagination from 'vue-sliding-pagination'

export default {
  name: 'Episodes',
  data: () => {
    return {
      page: 1,
      filter: {
        name: ''
      },
      episodes: {
        info: {
          pages: 1
        },
        results: []
      }
    }
  },
  apollo: {
    episodes: {
      query: gql`
        query Episodes($page: Int) {
          episodes(page: $page, filter: {}) {
            info {
              pages
            }
            results {
              name
              air_date
              episode
              created
            }
          }
        }
      `,
      variables() {
        return {
          page: this.page,
          filter: this.filter
        }
      },
      debounce: 200,
      deep: true 
    }
  },
  components: {
    SlidingPagination
  }

}
</script>
