body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paginate ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    padding: 3px;
    a {
      margin: 2px;
      padding: 8px;
    }

    &:hover a {
      background-color: #555;
      color: #fafafa;
    }

    &.c-sliding-pagination__list-element--disabled {
      opacity: 0.5;
    }
    
    &.c-sliding-pagination__list-element--active a {
      background-color: #333;
      color: #fafafa;
    }
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.section h4 {
  text-align: left !important;
  width: 100%;
}

.section h6 {
  text-align: left !important;
  width: 100%;
}

.section h2 {
  text-align: left !important;
  width: 100%;
}

img.section.media {
  margin: 28px;
}

.home {
  padding: 46px 102px;
}
.card.fluid:hover {
  opacity: .5;
}

img.section.media {
  width: 76%;
}

header {
  height: 63px;
  background: #3a3a3a;
  color: white;
  padding-top: 19px;

  a {
    color: white !important;
    margin: 0 21px;
    cursor: pointer;

    &:hover {
      opacity: .5;
    }
  }
}

